.footer{
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: #e7e7e7;
    border:2px solid rgb(204, 204, 204);
}
.footer a{
   color: var(--black); 
   margin: 0px 10px;
}

